@page "/usuarios/{id}"
@using IntranetGCM.Models
@using IntranetGCM.Services
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@inject UsuarioService usuarioService
@inject AuthenticationStateProvider AuthStateProvider
@inject UserManager<Usuario> UserManager
@inject NavigationManager Nav
@inject ToastService ToastService
@rendermode InteractiveServer

<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />

<h3 class="titulo">Usuário</h3>

<ConfirmDialog @ref="dialog" />

@if (!carregado)
{
    <p class="loading">Carregando...</p>
}
else if (!podeAcessar)
{
    Nav.NavigateTo("/access-denied");
}
else
{
    <div class="card">

        <EditForm Model="@updateCadastroRequest" OnValidSubmit="UpdateCadastro" FormName="UpdateCadastroForm">

            <DataAnnotationsValidator />

            <div class="form-group">
                <label>Nome</label>
                <InputText class="input" @bind-Value="updateCadastroRequest.Nome" />
                <ValidationMessage For="@(() => updateCadastroRequest.Nome)" />
            </div>

            <div class="form-group">
                <label>Email</label>
                <InputText class="input" @bind-Value="updateCadastroRequest.Email" />
                <ValidationMessage For="@(() => updateCadastroRequest.Email)" />
            </div>

            <div class="form-group">
                <label>Nova Senha</label>
                <InputText class="input" @bind-Value="updateCadastroRequest.Password" type="password"
                           autocomplete="new-password" />
                <ValidationMessage For="@(() => updateCadastroRequest.Password)" />
            </div>

            <div class="form-group">
                <label>Confirmar Nova Senha</label>
                <InputText class="input" @bind-Value="updateCadastroRequest.ConfirmPassword" type="password"
                           autocomplete="new-password" />
                <ValidationMessage For="@(() => updateCadastroRequest.ConfirmPassword)" />
            </div>

            <div class="roles">
                <label>Funções</label>

                @foreach (var role in rolesAExibir)
                {
                    <AuthorizeView Roles="Admin" Context="EditarFuncoes">
                        <div class="role-item">
                            <label>
                                <input type="checkbox" checked="@rolesSelecionadas.Contains(role)"
                                       @onchange="e => ModificaArrayRolesSelecionadas(role, (bool)e.Value)" />
                                @role</label>
                            </div>
                        </AuthorizeView>
                    }
                </div>
                <Button Color="ButtonColor.Primary" Type="ButtonType.Submit">Salvar</Button>
                <AuthorizeView Roles="Admin" Context="ExcluirUsuarioButton">
                    <Button Class="left" Color="ButtonColor.Danger" @onclick="ShowConfirmationAsync">Excluir Usuário</Button>
                </AuthorizeView>
            </EditForm>

        </div>
    }



@code {
    [Parameter]
    public string id { get; set; }

    bool podeAcessar = false;

    bool carregado = false;

    private Usuario? usuarioDaPagina;
    public UpdateCadastroRequest updateCadastroRequest { get; set; } = new();

    private List<string> roles = new();
    private List<string> rolesSelecionadas = new();

    private List<string> rolesAExibir = new();

    private bool isAdmin;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await AuthStateProvider.GetAuthenticationStateAsync();
        ClaimsPrincipal userPrincipal = authState.User;

        Usuario user = await UserManager.GetUserAsync(userPrincipal);

        isAdmin = await UserManager.IsInRoleAsync(user, "Admin");
        bool isOwner = user.Id == id;

        carregado = true;

        if (isAdmin || isOwner)
        {
            podeAcessar = true;
        }

        usuarioDaPagina = await UserManager.FindByIdAsync(id);

        updateCadastroRequest.Nome = usuarioDaPagina.Nome;
        updateCadastroRequest.Email = usuarioDaPagina.Email;

        rolesSelecionadas = await usuarioService.GetRoles(usuarioDaPagina);
        roles = await usuarioService.GetTodasRoles();

        if (isAdmin)
        {
            rolesAExibir = roles;
        }
        else
        {
            rolesAExibir = rolesSelecionadas;
        }
    }

    private async Task UpdateCadastro()
    {
        var (successUpdate, errorsUpdate) = await usuarioService.AtualizarUsuario(updateCadastroRequest);

        if (!successUpdate)
        {
            foreach (var error in errorsUpdate)
            {
                ToastService.Notify(new(ToastType.Danger, $"Erro: {error}"));
                Console.WriteLine(error);
            }
            return;
        }

        var (successRoles, errorsRoles) = await usuarioService.AtualizarRoles(rolesSelecionadas, usuarioDaPagina);

        if (!successRoles)
        {
            foreach (var error in errorsRoles)
            {
                Console.WriteLine(error);
                ToastService.Notify(new(ToastType.Danger, $"Erro: {error}"));
            }
            return;
        }

        Console.WriteLine("Dados do usuários alterados com sucesso");
        ToastService.Notify(new(ToastType.Success, "Dados do usuários alterados com sucesso"));
    }

    private void ModificaArrayRolesSelecionadas(string role, bool isChecked)
    {
        if (isChecked)
        {
            if (!rolesSelecionadas.Contains(role))
                rolesSelecionadas.Add(role);
        }
        else
        {
            rolesSelecionadas.Remove(role);
        }
    }

    private async Task ExcluirUsuario()
    {
        var (successExcluir, errorsExcluir) = await usuarioService.ExcluirUsuario(usuarioDaPagina.Id);

        if (!successExcluir)
        {
            foreach (string error in errorsExcluir)
            {
                ToastService.Notify(new(ToastType.Danger, $"Erro: {error}"));
                Console.WriteLine(error);
            }
            return;
        }
        ToastService.Notify(new(ToastType.Success, "Usuário excluído com sucesso"));
        Console.WriteLine("Usuário excluído com sucesso");
        Nav.NavigateTo("/usuarios");
    }

    private ConfirmDialog dialog = default!;

    private async Task ShowConfirmationAsync()
    {
        var options = new ConfirmDialogOptions
        {
            YesButtonText = "Excluir",
            YesButtonColor = ButtonColor.Danger,
            NoButtonText = "Cancelar",
            NoButtonColor = ButtonColor.Secondary
        };
        var confirmation = await dialog.ShowAsync(
            title: "Tem certeza que deseja excluir esse usuário?",
            message1: "Não será possível desfazer a operação. Prosseguir?",
            confirmDialogOptions: options);

        if (confirmation)
        {
            await ExcluirUsuario();
        }
    }
}
